In [1]:
import pandas as pd
s1 = pd.read_csv('./전국매매통합/서울통합본.csv')

C:\ProgramData\Anaconda3\envs\p36\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
s1

,도시,구시군,읍면동,단지명,전용면적(㎡),거래금액(만원),거래층,계약일,분양면적(㎡),입주일,분양일,분양가(만원),총세대수,면적별세대수,3.3㎡당가(전용면적-만원),3.3㎡당가(분양면적-만원),3.3㎡당가(분양가-만원)
0,서울특별시,강남구,압구정동,구현대1차,196.21,"450,000",13,2018.12,211.23,1976.06,NaN,NaN,480,120,"7,582","7,043",NaN
1,서울특별시,강남구,청담동,마크힐스2단지,202.58,"450,000",5,2018.12,252.31,2010.07,2009.05,"600,000",19,1,"7,343","5,896","7,861"
2,서울특별시,강남구,압구정동,신현대,139.83,"320,000",7,2018.12,165.29,1982.04,NaN,NaN,"1,924",168,"7,565","6,400",NaN
3,서울특별시,강남구,대치동,한보미도맨션1차,191.04,"315,000",2,2018.12,219.22,1983.12,NaN,"8,978","1,204",84,"5,451","4,750",135
4,서울특별시,강남구,압구정동,구현대7차,144.20,"304,000",10,2018.12,158.68,1979.05,NaN,NaN,560,168,"6,969","6,333",NaN
5,서울특별시,강남구,수서동,강남더샵포레스트,165.43,"300,000",8,2018.12,202.20,2016.08,2014.07,"127,920",400,4,"5,995","4,905","2,091"
6,서울특별시,강남구,대치동,래미안대치팰리스,94.49,"280,000",16,2018.12,126.22,2015.09,2013.11,"118,445","1,608",230,"9,796","7,333","3,102"
7,서울특별시,강남구,대치동,동부센트레빌,145.83,"279,000",20,2018.12,177.35,2005.01,2002.04,"81,000",805,386,"6,325","5,201","1,510"
8,서울특별시,강남구,청담동,청담대우로얄카운티VI,191.59,"250,000",6,2018.12,290.91,2005.09,NaN,NaN,12,2,"4,314","2,841",NaN
9,서울특별시,강남구,논현동,동양파라곤,160.33,"240,000",14,2018.12,194.26,2004.07,2001.11,"82,990",203,23,"4,948","4,084","1,412"
10,서울특별시,강남구,대치동,한보미도맨션2차,126.00,"238,000",9,2018.12,136.00,1984.12,NaN,"4,387","1,232",336,"6,244","5,785",107
11,서울특별시,강남구,대치동,한보미도맨션2차,137.00,"238,000",9,2018.12,149.00,1984.12,NaN,"4,815","1,232",448,"5,743","5,280",107
12,서울특별시,강남구,압구정동,신현대,84.92,"225,000",10,2018.12,115.70,1982.04,NaN,NaN,"1,924",559,"8,759","6,429",NaN
13,서울특별시,강남구,대치동,한보미도맨션2차,126.00,"210,500",4,2018.12,136.00,1984.12,NaN,"4,387","1,232",336,"5,523","5,117",107
14,서울특별시,강남구,도곡동,도곡렉슬,119.89,"210,000",17,2018.12,143.26,2006.02,2003.05,NaN,"3,002",330,"5,790","4,846",NaN
15,서울특별시,강남구,대치동,대치IPARK,84.95,"208,000",17,2018.12,108.03,2007.07,2005.06,"63,350",768,96,"8,094","6,365","1,939"
16,서울특별시,강남구,삼성동,롯데캐슬프레미어,121.93,"200,000",14,2018.12,145.44,2007.03,2004.06,"87,860",713,313,"5,422","4,546","1,997"
17,서울특별시,강남구,압구정동,현대8차,112.53,"196,500",1,2018.12,119.64,1981.05,NaN,NaN,515,10,"5,773","5,430",NaN
18,서울특별시,강남구,논현동,아크로힐스논현,113.08,"190,000",9,2018.12,148.76,2014.12,2014.04,"142,000",368,44,"5,554","4,222","3,156"
19,서울특별시,강남구,삼성동,삼성힐스테이트1단지,84.35,"190,000",11,2018.12,109.64,2008.12,2006.02,NaN,"1,144",86,"7,446","5,729",NaN
20,서울특별시,강남구,삼성동,채널리저브,149.52,"184,000",21,2018.12,182.83,2007.01,2003.12,"112,000",78,6,"4,068","3,327","2,025"
21,서울특별시,강남구,대치동,삼성래미안,97.35,"180,000",5,2018.12,124.57,2000.08,1997.10,NaN,960,390,"6,112","4,777",NaN
22,서울특별시,강남구,청담동,대림e편한세상,134.24,"177,000",2,2018.12,165.09,2002.12,2000.11,"59,510",271,68,"4,359","3,544","1,192"
23,서울특별시,강남구,도곡동,도곡1차IPARK,130.26,"173,000",24,2018.12,158.68,2007.03,2004.06,"91,160",321,172,"4,391","3,604","1,899"
24,서울특별시,강남구,대치동,은마,84.44,"172,500",9,2018.12,113.68,1979.12,NaN,"2,346","4,424","1,750","6,754","5,016",68
25,서울특별시,강남구,대치동,은마,84.44,"172,000",7,2018.12,113.68,1979.12,NaN,"2,346","4,424","1,750","6,734","5,002",68
26,서울특별시,강남구,도곡동,삼성래미안,122.81,"171,000",1,2018.12,158.10,2001.12,1998.04,"43,282",732,348,"4,603","3,576",905
27,서울특별시,강남구,대치동,은마,84.44,"170,000",2,2018.12,113.68,1979.12,NaN,"2,346","4,424","1,750","6,656","4,944",68
28,서울특별시,강남구,대치동,삼성3차,144.09,"170,000",2,2018.12,201.65,2000.03,NaN,NaN,35,12,"3,900","2,787",NaN
29,서울특별시,강남구,청담동,청담대우유로카운티,121.48,"169,000",3,2018.12,142.83,2003.10,2002.11,NaN,196,100,"4,599","3,912",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970692,서울특별시,중랑구,신내동,신내9단지,39.84,"18,000",4,2018.02,56.20,1996.05,NaN,"5,400","1,650",337,"1,494","1,059",318
970693,서울특별시,중랑구,망우동,개나리,41.88,"18,000",3,2018.10,56.20,1988.05,NaN,NaN,78,78,"1,421","1,059",NaN
970694,서울특별시,중랑구,신내동,신내9단지,33.18,"17,900",2,2018.02,46.28,1996.05,NaN,"4,500","1,650",486,"1,783","1,279",321
970695,서울특별시,중랑구,망우동,대보,44.01,"17,900",1,2018.08,59.50,1989.12,NaN,NaN,80,30,"1,345",994,NaN
970696,서울특별시,중랑구,묵동,우성,48.13,"17,900",3,2018.07,49.59,1976.10,NaN,NaN,190,162,"1,229","1,193",NaN
970697,서울특별시,중랑구,망우동,대보,43.65,"17,800",5,2018.10,56.20,1989.12,NaN,NaN,80,50,"1,348","1,047",NaN
970698,서울특별시,중랑구,망우동,대보,44.01,"17,700",5,2018.12,59.50,1989.12,NaN,NaN,80,30,"1,330",983,NaN
970699,서울특별시,중랑구,망우동,대보,44.01,"17,500",3,2018.11,59.50,1989.12,NaN,NaN,80,30,"1,315",972,NaN
970700,서울특별시,중랑구,망우동,대보,43.65,"17,500",5,2018.09,56.20,1989.12,NaN,NaN,80,50,"1,325","1,029",NaN
970701,서울특별시,중랑구,묵동,우성,48.13,"17,500",4,2018.08,49.59,1976.10,NaN,NaN,190,162,"1,202","1,167",NaN
970702,서울특별시,중랑구,묵동,우성,48.13,"17,500",5,2018.06,49.59,1976.10,NaN,NaN,190,162,"1,202","1,167",NaN
970703,서울특별시,중랑구,묵동,우성,48.13,"17,500",5,2018.01,49.59,1976.10,NaN,NaN,190,162,"1,202","1,167",NaN
970704,서울특별시,중랑구,묵동,우성,48.13,"17,500",4,2018.02,49.59,1976.10,NaN,NaN,190,162,"1,202","1,167",NaN
970705,서울특별시,중랑구,면목동,면목한신,27.00,"17,500",13,2018.06,36.36,1988.12,NaN,NaN,"1,362",165,"2,143","1,591",NaN
970706,서울특별시,중랑구,면목동,면목한신,27.00,"17,500",15,2018.09,36.36,1988.12,NaN,NaN,"1,362",165,"2,143","1,591",NaN
970707,서울특별시,중랑구,묵동,우성,48.13,"17,400",5,2018.02,49.59,1976.10,NaN,NaN,190,162,"1,195","1,160",NaN
970708,서울특별시,중랑구,묵동,우성,48.13,"17,400",2,2018.04,49.59,1976.10,NaN,NaN,190,162,"1,195","1,160",NaN
970709,서울특별시,중랑구,면목동,면목한신,27.00,"17,300",13,2018.02,36.36,1988.12,NaN,NaN,"1,362",165,"2,118","1,573",NaN
970710,서울특별시,중랑구,묵동,우성,48.13,"17,200",5,2018.04,49.59,1976.10,NaN,NaN,190,162,"1,181","1,147",NaN
970711,서울특별시,중랑구,묵동,우성,48.13,"17,150",3,2018.05,49.59,1976.10,NaN,NaN,190,162,"1,178","1,143",NaN
970712,서울특별시,중랑구,묵동,우성,48.13,"17,000",5,2018.02,49.59,1976.10,NaN,NaN,190,162,"1,168","1,133",NaN
970713,서울특별시,중랑구,망우동,개나리,41.88,"17,000",2,2018.02,56.20,1988.05,NaN,NaN,78,78,"1,342","1,000",NaN
970714,서울특별시,중랑구,망우동,개나리,41.88,"17,000",4,2018.08,56.20,1988.05,NaN,NaN,78,78,"1,342","1,000",NaN
970715,서울특별시,중랑구,면목동,면목한신,27.00,"16,700",3,2018.09,36.36,1988.12,NaN,NaN,"1,362",165,"2,045","1,518",NaN
970716,서울특별시,중랑구,면목동,면목한신,27.00,"16,650",1,2018.09,36.36,1988.12,NaN,NaN,"1,362",165,"2,039","1,514",NaN
970717,서울특별시,중랑구,묵동,신내4단지,39.84,"16,650",4,2018.11,56.20,1996.06,NaN,NaN,"1,070",420,"1,382",979,NaN
970718,서울특별시,중랑구,면목동,면목한신,35.30,"16,100",8,2018.03,46.28,1988.12,NaN,NaN,"1,362",300,"1,508","1,150",NaN
970719,서울특별시,중랑구,망우동,개나리,41.88,"15,500",5,2018.07,56.20,1988.05,NaN,NaN,78,78,"1,223",912,NaN
970720,서울특별시,중랑구,신내동,신내9단지,33.18,"15,500",1,2018.05,46.28,1996.05,NaN,"4,500","1,650",486,"1,544","1,107",321
970721,서울특별시,중랑구,망우동,개나리,41.88,"15,000",5,2018.08,56.20,1988.05,NaN,NaN,78,78,"1,184",882,NaN

In [3]:
g1 = pd.read_csv('./전국매매통합/경기1(ㄱ-ㅅ).csv')
g2 = pd.read_csv('./전국매매통합/경기2.csv')
g3 = pd.read_csv('./전국매매통합/강원매매.csv')
g4 = pd.read_csv('./전국매매통합/경남매매.csv')
g5 = pd.read_csv('./전국매매통합/경북매매.csv')
g6 = pd.read_csv('./전국매매통합/광주매매.csv')
d1 = pd.read_csv('./전국매매통합/대구매매.csv')
d2 = pd.read_csv('./전국매매통합/대전매매.csv')
b1 = pd.read_csv('./전국매매통합/부산매매.csv')
s2 = pd.read_csv('./전국매매통합/세종매매.csv')
u1 = pd.read_csv('./전국매매통합/울산매매.csv')
i1 = pd.read_csv('./전국매매통합/인천매매.csv')
j1 = pd.read_csv('./전국매매통합/전남매매.csv')
j2 = pd.read_csv('./전국매매통합/전북매매.csv')
j3 = pd.read_csv('./전국매매통합/제주매매.csv')
c1 = pd.read_csv('./전국매매통합/충남매매.csv')
c2 = pd.read_csv('./전국매매통합/충북매매.csv')

C:\ProgramData\Anaconda3\envs\p36\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\envs\p36\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\envs\p36\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
total = pd.concat([s1, g1,g2,g3,g4,g5,g6,d1,d2,b1,s2,u1,i1,j1,j2,j3,c1,c2], axis=0)
total.head()

,도시,구시군,읍면동,단지명,전용면적(㎡),거래금액(만원),거래층,계약일,분양면적(㎡),입주일,분양일,분양가(만원),총세대수,면적별세대수,3.3㎡당가(전용면적-만원),3.3㎡당가(분양면적-만원),3.3㎡당가(분양가-만원)
0,서울특별시,강남구,압구정동,구현대1차,196.21,"450,000",13.0,2018.12,211.23,1976.06,NaN,NaN,480,120,"7,582","7,043",NaN
1,서울특별시,강남구,청담동,마크힐스2단지,202.58,"450,000",5.0,2018.12,252.31,2010.07,2009.05,"600,000",19,1,"7,343","5,896","7,861"
2,서울특별시,강남구,압구정동,신현대,139.83,"320,000",7.0,2018.12,165.29,1982.04,NaN,NaN,"1,924",168,"7,565","6,400",NaN
3,서울특별시,강남구,대치동,한보미도맨션1차,191.04,"315,000",2.0,2018.12,219.22,1983.12,NaN,"8,978","1,204",84,"5,451","4,750",135
4,서울특별시,강남구,압구정동,구현대7차,144.20,"304,000",10.0,2018.12,158.68,1979.05,NaN,NaN,560,168,"6,969","6,333",NaN

In [8]:
list1 = ["city","district", "dong", "apartment","m2","price","floor","contract_date", "pre_m2", "moving_date", "pre_date","pre_price", "num_people", "people_by_m2", "price_by_m2","price_by_pre_m2", "price_by_pre_price"]

In [9]:
total.columns = list1

In [5]:
total.tail()

,도시,구시군,읍면동,단지명,전용면적(㎡),거래금액(만원),거래층,계약일,분양면적(㎡),입주일,분양일,분양가(만원),총세대수,면적별세대수,3.3㎡당가(전용면적-만원),3.3㎡당가(분양면적-만원),3.3㎡당가(분양가-만원)
129941,충청북도,제천시,청전동,주공1차,42.54,"1,700",1.0,2018.11,42.98,1980.11,NaN,NaN,640,250,132,131,NaN
129942,충청북도,보은군,마로면,조일,50.19,"1,700",3.0,2018.09,58.94,1985.11,NaN,NaN,40,40,112,95,NaN
129943,충청북도,보은군,마로면,조일,50.19,"1,700",3.0,2018.10,58.94,1985.11,NaN,NaN,40,40,112,95,NaN
129944,충청북도,제천시,청전동,주공1차,41.99,"1,700",5.0,2018.10,42.98,1980.11,NaN,NaN,640,100,134,131,NaN
129945,충청북도,제천시,청전동,주공1차,41.56,"1,500",5.0,2018.07,42.98,1980.11,NaN,NaN,640,50,119,115,NaN

In [6]:
total = total.reset_index(drop=True)

In [7]:
total.tail()

,도시,구시군,읍면동,단지명,전용면적(㎡),거래금액(만원),거래층,계약일,분양면적(㎡),입주일,분양일,분양가(만원),총세대수,면적별세대수,3.3㎡당가(전용면적-만원),3.3㎡당가(분양면적-만원),3.3㎡당가(분양가-만원)
6174900,충청북도,제천시,청전동,주공1차,42.54,"1,700",1.0,2018.11,42.98,1980.11,NaN,NaN,640,250,132,131,NaN
6174901,충청북도,보은군,마로면,조일,50.19,"1,700",3.0,2018.09,58.94,1985.11,NaN,NaN,40,40,112,95,NaN
6174902,충청북도,보은군,마로면,조일,50.19,"1,700",3.0,2018.10,58.94,1985.11,NaN,NaN,40,40,112,95,NaN
6174903,충청북도,제천시,청전동,주공1차,41.99,"1,700",5.0,2018.10,42.98,1980.11,NaN,NaN,640,100,134,131,NaN
6174904,충청북도,제천시,청전동,주공1차,41.56,"1,500",5.0,2018.07,42.98,1980.11,NaN,NaN,640,50,119,115,NaN

In [10]:
total.to_csv("korea_apartment.csv", index=False)

In [11]:
ex = pd.read_csv("./korea_apartment.csv")

C:\ProgramData\Anaconda3\envs\p36\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (13,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
ex.tail()

,city,district,dong,apartment,m2,price,floor,contract_date,pre_m2,moving_date,pre_date,pre_price,num_people,people_by_m2,price_by_m2,price_by_pre_m2,price_by_pre_price
6174900,충청북도,제천시,청전동,주공1차,42.54,"1,700",1.0,2018.11,42.98,1980.11,NaN,NaN,640,250,132,131,NaN
6174901,충청북도,보은군,마로면,조일,50.19,"1,700",3.0,2018.09,58.94,1985.11,NaN,NaN,40,40,112,95,NaN
6174902,충청북도,보은군,마로면,조일,50.19,"1,700",3.0,2018.10,58.94,1985.11,NaN,NaN,40,40,112,95,NaN
6174903,충청북도,제천시,청전동,주공1차,41.99,"1,700",5.0,2018.10,42.98,1980.11,NaN,NaN,640,100,134,131,NaN
6174904,충청북도,제천시,청전동,주공1차,41.56,"1,500",5.0,2018.07,42.98,1980.11,NaN,NaN,640,50,119,115,NaN

In [ ]:
# columns = s1.loc[0,:]
# s1 = s1.drop(0,0)